.App {
  width:100%;
  max-width:400px;
  margin: 0 auto;
  font-size: 62.5%;
  background:#FA8444;
  margin-top:5rem;
  padding:1rem;
  border-radius:1em;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row {
  display:flex;
  justify-content: space-around;
  width:100%;
  font-size:12rem;
  flex-wrap:wrap;
}

.row button {
  width:21%;
  border:0px;
  height:75px;
  margin:5px 0;
  font-size: 1.5rem;
  border-radius: 50%;
  background:#36454f79;
  color:white;  
}

.row button:hover {
  background:rgba(220, 220, 220, 0.527);
  cursor: pointer;
}

.row button:focus {
  outline:none;
}

.row button:nth-child(1) {
  background:white;
  color:#2170BF
}

.row button:nth-child(2) {
  background:white;
  color:#2170BF
}

.row button:nth-child(3) {
  background:white;
  color:#2170BF
}

.row button:nth-child(4) {
  background:#2170BF;
}

.row button:nth-child(8) {
  background:#2170BF;
}

.row button:nth-child(12) {
  background:#2170BF;
}

.row button:nth-child(16) {
  background:#2170BF;
}

.row button:nth-last-child(1) {
  background:#2170BF;
}

.display {
  height:100px;
  color:white;
  font-size:3rem;
  display:flex;
  justify-content: flex-end;
  align-items: center;
  margin: .5rem 0;
  padding: .5rem;
  background:#36454f79;
  border-radius:.5rem;
}


